<div id="recipe">
    <div v-for="item in items">
        <a 
          v-bind:href="item.link"
          target="_blank"
        >
          <img
            v-bind:src="item.pagemap.cse_image[0].src"
            class="recipe-thumbnail"
          >
          {{ item.title }}
        </a>
    </div>
</div>

