<div class="container">
  <div class="main_logo">
    <%= image_tag "main_logo.png" %>
  </div>
  <h3 class="top_title">からだの症状</h3>
  <div class="wrapper">
      <% @searches.each do |search| %>
          <%= link_to search.condition_name, search, class: "menu_link" %></i>
      <% end %>
    </ul>
  </div>
</div>
