<h3>からだの症状</h3>
<div class="container">
  <div class="wrapper">
    
      <% @searches.each do |search| %>
          <%= link_to search.condition_name, search, class: "menu_link" %></i>
      <% end %>
    </ul>
  </div>
</div>
