/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
h1,h2,h3,h4,h5,h6,p,a {
   color: #676767;
}

body {
 background-color: #FFFEFE;
}
 
 ul li {
  list-style: none;
  margin-left: 0;
 }
 

/*ナビバー*/
.navbar-brand {
 margin-left: 36px;
}

#nav li {
  margin-right: 30px;
}

.btn-dark {
 margin-right: 30px;
}


ul li .nav-link {
 padding: 0;
}

ul li .nav-link:hover {
 opacity: 0.7;
 transition: all  0.3s ease;
 color: #676767;
}

.dropdown-nav-link {
 color: #616060;
 text-decoration: none;
}

.dropdown-nav-link:hover {
 color: #616060;
 text-decoration: none;
 opacity: 0.7;
 transition: all  0.3s ease;
}

/*トップページの画像*/
.main_logo {
 text-align: center;
}

/*トップページの症状一覧メニュー*/

.top_title {
 margin: 20px 0px;
}

.wrapper {
 width: 700px;
 margin: 0 auto;
}

.menu_link:hover {
  color: #676767;
  background-color: #b3e0eb;
}

.menu_link {
  display: block;
  border: 1px solid #333;
  width: 180px;
  margin: 5px 8px;
  padding: 10px 20px;
  border-radius: 7px;
  color: #676767;
  font-size: 1.25em;
  text-decoration: none;
  text-align:center;
  transition: all  0.3s ease;
}

.wrapper {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
 

/*登録・ログインボタン*/
.submit {
 background-color: #b3e0eb;
 border-radius: 7px;
 transition: .3s;
 border: none;
 padding: 5px 30px; 
}

.submit:hover {
  filter: opacity(70%);
  cursor: pointer;
}

/*お気に入り解除ボタン*/
.unlikes {
 background-color: #d3d3d3;
 border-radius: 7px;
 transition: .3s;
 border: none;
 padding: 5px 30px; 
}

.unlikes:hover {
   filter: opacity(70%);
}

.favorite_button:hover {
  filter: opacity(70%);
  cursor: pointer;
}


/*編集・削除・戻るのメニュー*/
.page-menu {
 color: #676767;
 transition: all  0.3s ease;
}

.page-menu:hover {
 color: #36adcb;
}


/*詳細ページ*/
.container {
 margin-top: 24px;
}


/*レシピAPI*/
.recipe-thumbnail {
 width: 100px;
 height: auto;
}