<nav class="navbar navbar-dark" style="background-color: #36adcb">
    <div>
        <a class="navbar-brand" href="/">HealthBoard</a>
    </div> 
    <!--メニュー項目-->
    <div id="nav">
        <ul class="navbar-nav">
        　<li class="nav-item"><%= link_to '症状の登録', new_search_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
        </ul>
    </div>
</nav>